# Build folders
build/
bin/

# Executables
*.exe
*.out

# Object files
*.o
*.obj

# Libraries
*.a
*.lib
*.dll

# Debug files
*.pdb

# VS Code
.vscode/

# SQLite database
database/*.db
*.db-journal
*.db-shm
*.db-wal

# Code coverage
*.gcda
*.gcno
coverage.info
coverage/